*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #5ba3fa;
    --color-primary-variant: rgba(21, 107, 212,0.5);
    --color-gray-0: #fff;
    --color-gray-50: #edecec;
    --color-gray-100: #e6e5e5;
    --color-gray-200: #c0c0c0;
    --color-gray-300: #a1a1a1;
    --color-gray-400: #919191;
    --color-gray-500: #7b7b7b;
    --color-gray-600: #545454;
    --color-gray-700: #313131;
    --color-gray-800: #232323;
    --color-gray-900: #0e0e0e;
    
    --container-w-lg: 74%;
    --container-w-sm: 94%;

    --transition: all 350ms ease;

}

.darkmode {
    --color-gray-900: #fff;
    --color-gray-800: #edecec;
    --color-gray-700: #e6e5e5;
    --color-gray-600: #c0c0c0;
    --color-gray-500: #a1a1a1;
    --color-gray-400: #919191;
    --color-gray-300: #7b7b7b;
    --color-gray-200: #545454;
    --color-gray-100: #313131;
    --color-gray-50: #1f1f1f;
    --color-gray-0: #0e0e0e;
    transform: 2s  ease forwards;
}



html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background: rgba(11, 48, 185, 0.25);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

body {
    font-family: "Montserrat", sans_serif;
    line-height: 1.6;
    background: var(--color-gray-0);
    font-size: 0.9rem;
    color: var(--color-gray-800);
    user-select: none;
}

.container {
    width: var(--container-w-lg);
    margin-inline: auto;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    color: var(--color-gray-900);
    font-weight: 900;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}

a {
    transition: var(--transition);
}

.btn{
    background: var(--color-gray-0);
    border: 2px solid var(--color-gray-100);
    color: var(--color-gray-900);
    font-weight: 500;
    padding: 0.8rem 1.7rem;
    transition: var(--transition);
    cursor: pointer;
}

.btn.primary {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}

.btn:hover {
    background: var(--color-primary-variant);
    border-color: transparent;
}

section {
    padding: 10rem 0;
}

section:nth-child(even) {
    background: var(--color-gray-50);
}

section > h1, section > p {
    text-align: center;
    margin-top: 0.5rem;
    width: 30rem;
    margin-inline: auto;
}

/*****NAVBAR*****/
nav {
    background: var(--color-primary);
    width: 100vw;
    height: 3rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__container a{
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
}

.nav__theme-btn {
    background: transparent;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    
}

/***** FLOATING NAVBAR*****/
.floating__nav {
    position: fixed;
    left: 50%;
    bottom: -8rem;
    transform: translateX(-50%) scale(0);
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: fit-content;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
    padding: 0.7rem;
    border-radius: 2.2rem;
    opacity: 0;
    z-index: 9;
    animation:animatefloatingNav 1s 2s ease forwards;
}

.darkmode .floating__nav {
    background: rgba(255, 255, 255, 0.1);
}
@keyframes animatefloatingNav {
    to {
        bottom: 1.5rem;
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
}

.floating__nav a {
    color: var(--color-gray-900);
    width: 3.2rem;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 1.4rem;
}

.floating__nav a:hover {
    background: var(--color-gray-0);
}

.floating__nav a.active {
    background: var(--color-primary);
    color: white;
}

header {
    margin-top: 3rem;
    height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}

.darkmode header {
    background: linear-gradient(var(--color-gray-100), var(--color-gray-0))
}

.nav__theme-btn i:last-child {
    display: none;
}

.darkmode .nav__theme-btn i:first-child {
    display: none;
}

.darkmode .nav__theme-btn i:last-child {
    display: block;
}

.header__container {
    width: 36rem;
    text-align: center;
}

.header__image {
    width: 12rem;
    height: 14rem;
    border-radius:  5rem 2rem 2rem 2rem;
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.header__container h1 {
    margin-top: 0.8rem;
    margin: 0.8rem, 0 0.1rem;
}

.header__container h1 span {
    color: var(--color-primary)
}

.header__container p {
    margin-top: 0.8rem;
    font-weight: 500;
}

.header__cta {
    margin-top: 1.8rem;
    display: flex;
    gap: 1rem;
    margin-inline: auto;
    width: fit-content;
}

.header__socials {
    position: absolute;
    right: 10%;
    bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header__socials a {
    background: var(--color-gray-100);
    color: var(--color-primary);
    width: 2.2rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    transition: var(--transition);
    font-size: 1.2rem;
}

.header__socials a:hover {
    background: var(--color-primary-variant);
    color: var(--color-gray-0);
}

/*******RESUME******/
.resume__container {
    display: grid;
    grid-template-columns: 14rem auto;
    gap: 7rem;
    width: 60%;
}

.resume__left p {
    margin: 0.5rem 0 1rem;
}

.resume__left menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.resume__left menu button {
    border-color: var(--color-gray-0);
}

.resume__right h4 {
    margin-bottom: 0.5rem;
    color: var(--color-primary);
}

.resume__right > p {
    margin-bottom: 1.5rem;
}

.resume__right ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.resume__right ul li {
    background:  var(--color-gray-0);
    padding: 1.5rem;
    border: 0.4rem solid var(--color-gray-0);
    transition: var(--transition);
    cursor: default;
}

.resume__right ul li:hover {
    background: transparent;
}

.resume__right li h6 {
    color: var(--color-gray-500)
}

.resume__right li h5 {
    color: var(--color-primary);
    margin: 0.8rem 0;
}

/*education*/
.resume__right.education ul {
    grid-template-columns: 1fr;
}

.resume__right.education li h5 {
    margin-top: 0;
}

/*skills*/
.resume__right.skills ul {
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.resume__right.skills ul li {
    padding: 1rem;
}

/*about*/
.resume__right.about ul{
    gap: 0;
}

.resume__right.about li {
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0.3rem;
    border: 0;
}

.resume__right.about li h6 {
    color: var(--color-gray-500);
}

.resume__right.about li h5 {
    color: var(--color-gray-900);
}

/*********PROJECTS*****/
.projects__categories {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 2.5rem;
    flex-wrap: wrap;
}

.projects__categories button.mixitup-control-active {
    background: var(--color-primary);
    color: white;
}
.projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 4rem;
}
.project {
    background: var(--color-gray-100);
    transition: var(--transition);
    padding-bottom: 1.5rem;
    border: 0.5rem solid var(--color-gray-100);
    animation: animateProject 1.5s ease forwards;
}

@keyframes animateProject {
    from {
        opacity: 0;

    }to{
        opacity: 1;
    }
}

.project:hover {
    background: transparent;
}

.project__image {
    max-height: 12rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.project h5 {
    padding:  0 1.2rem;
}

.project p {
    margin: 0.5rem 0 1.5rem;
    padding: 0 1.2rem;
    font-size: 0.8rem;
}

.project__cta {
    padding: 0 1.2rem;
    display: flex;
    gap: 1rem;
}

.project__cta a {
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.swiper-wrapper {
    margin-top: 4rem;
    padding-bottom: 4rem;
}


.swiper-slide {
    background: transparent;
    border: 0.5rem solid var(--color-gray-0);
    cursor: default;
    transform: var(--transition);
}

.swiper-slide:hover {
    background: var(--color-gray-0);
}

.swiper-slide figcaption {
    font-weight: 500;
    font-size: 1rem;
    padding: 1.2rem;
}

.swiper-client {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background: var(--color-gray-0);
    padding: 1.5rem;
}

.swiper__client-avatar {
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 0.6rem;
    overflow: hidden;
}

.swiper__client-avatar:hover{
   width: 10rem 
}

.swiper-pagination-bullet {
    background: var(--color-primary);
}


/************* FAQS *********/
.faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 5rem;
    align-items: flex-start;
    margin-top: 4rem;
}

.faqs__item {
    background: var(--color-gray-100);
    padding: 1.5rem;
    border-left: 0.5rem solid var(--color-primary);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.faq__item div {
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
}

.faqs__container i {
    font-size: 1.5rem;
}

.faqs__item p {
    margin-top: 0.7rem;
    display: none;
    
}
p.show{
    display: block;
}

.contact__container {
    width: 36%;
}

.contact__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin-inline: auto;
    gap: 1.2rem;
    margin-bottom: 5rem;
}

.contact__options a {
    background: var(--color-gray-0);
    color: var(--color-primary);
    padding: 1.2rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.contact__options a:hover {
    background: var(--color-primary);
    color: var(--color-gray-900);
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

form input, form textarea {
    padding: 1.2rem;
    resize: none;
    background: var(--color-gray-0);
    color: var(--color-gray-900);
}

form button {
    width: fit-content;
    border: 0;
    background: var(--color-primary);
    padding: 0.8rem 2rem;
}



@media screen and (max-width:600px) {
    body {
        font-size: 1rem;
    }
    .container {
        width: var(--container-w-sm);
    }

    section > h1, section > p {
        width:var(--container-w-sm)
    }

    nav {
        height: 4rem;
    }

    .header__container {
        width: 90%;
    }

    .header__container p {
        margin-top: 0.4rem;
    }
    .header__socials {
        display: none;
    }

    .resume__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .resume__left menu {
        gap: 0.7rem;

    }
    .resume__right.skills ul {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
    }
    .resume__right.about ul{
        grid-template-columns: 1fr;
    }
    .projects__categories {
        margin-top: 2.3rem;
    }
    .projects__container {
        gap: 1.5rem;
    }
    .swiper-wrapper {
        margin-top: 2rem;
    }

    .faqs__container {
        grid-template-columns: 1fr;

    }
    form button {
        width: 100%;
    }

}

